






  <!-- Footer -->
  <footer class="text-center text-lg-start bg-dark text-muted mt-5" id="ftr">
    <!-- Section: Social media -->
    <section
      class="d-flex text-white justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.instagram.com/jayzz.here/" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/captain.jacksparr0ww/" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://github.com/jayyuuuu" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/A_saffronist" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="mailto:mca10051.19@gmail.com" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
       
        <a href="https://www.linkedin.com/in/jaydeep-kumar-silawat-674b18197/" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
      
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-white text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-white text-uppercase fw-bold mb-4 ">
              <i class="fas fa-gem me-3"></i>Recent & Decent
            </h6>
            <p>
             A E-commerce Company which is selling goods and services over the internet. Almost anything can be purchased through Recent & Decent today.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 ">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>Books</p>
            <p>Fashion.</p>
            <p>Groceries </p>
            <p>Mobiles and Tablets.  </p>
            <p> Home Furnishings.</p>
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p class="mr-2"><i class="fas fa-home me-4"></i>Neemuch, (m.p) 458441</p>
            <p class="ml-1"><i class="fas fa-envelope ml-3 me-4"></i>mca10051.19@bitmesra.ac.in</p>
            <p style="margin-right: 62px;"><i class="fas fa-phone me-3"></i> + 91 8770939403</p>
            <p style="margin-right: 62px;"><i class="fa fa-whatsapp me-3" aria-hidden="true"></i> + 91 7354632686</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="">JayKumawat</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
     (function () {
     'use strict'
    
         // Fetch all the forms we want to apply custom Bootstrap validation styles to
         const forms = document.querySelectorAll('.validated-form')
         
           // Loop over them and prevent submission
           Array.prototype.slice.call(forms)
             .forEach(function (form) {
               form.addEventListener('submit', function (event) {
                 if (!form.checkValidity()) {
                   event.preventDefault()
                   event.stopPropagation()
                 }
         
                 form.classList.add('was-validated')
               }, false)
             })
         })()
         
    </script>
  



  <!-- Bootstrap core JavaScript -->
  <script src="/css/vendor/jquery/jquery.min.js"></script>
  <script src="/css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="/css/assets/js/custom.js"></script>
  <script src="/css/assets/js/owl.js"></script>
  <script src="/css/assets/js/slick.js"></script>
  <script src="/css/assets/js/isotope.js"></script>
  <script src="/css/assets/js/accordions.js"></script>


  <script language = "text/Javascript"> 
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t){                   //declaring the array outside of the
    if(! cleared[t.id]){                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value='';         // with more chance of typos
        t.style.color='#fff';
        }
    }
  </script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>

</body>
</html>