
<%- include("../partials/header.ejs") %> 
<%- include("../partials/navbar.ejs") %> 

<style>

    .social-iconsi:hover{
    color: white;
    }
    
    </style>
    



<br>
<br>
<br>



    <div class="page-heading about-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content">
                <h4>about us</h4>
                <h2>our company</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="best-features about-features">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Our Background</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img src="css/assets/images/Mypic.jpg" style="margin-bottom: 10px;"; alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="left-content">
                <h4>Who we are &amp; What we do?</h4>
                <p>When we think about shopping today, we immediately think of the Internet. How did e-commerce get to be the future of buying and selling? How did we go from buying basic electronics to purchasing nearly every product imaginable via the Internet? Well, <strong> Recent & Decent</strong> offers a variety of solutions for both buyers and sellers that physical stores just simply can’t.First and foremost, e-commerce offers a buying experience that is unrivaled by traditional brick and mortar shopping. With traditional shopping, we get dressed, go to the store, peruse the aisles and make a purchase (regardless of whether it's the lowest price).we have millions of choices. We have access to thousands of crowd-sourced reviews in order to verify a product actually works. We are able to find the best available price. And, maybe most importantly, we can shop from wherever. </p>
<br>
<br>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      
  
      <div class="services">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-gear"></i>
                </div>
                <div class="down-content">
                  <h4>Product Management</h4>
                  <p>The right approach in managing projects enables the team to implement them most efficiently and effectively while reducing the risks.</p>
                  <a href="#" class="filled-button">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-gear"></i>
                </div>
                <div class="down-content">
                  <h4>Customer Relations</h4>
                  <p>The good news is that Millennials are ready to pay 21% more to do business with companies who excel at customer service.</p>
                  <a href="#" class="filled-button">Details</a>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-gear"></i>
                </div>
                <div class="down-content">
                  <h4>Global Collection</h4>
                  <p>When expanding your business to a global setting, you need to be mindful of the nature of business that occurs in these markets.</p>
                  <a href="#" class="filled-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  



















<div class="page-heading contact-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>contact us</h4>
            <h2>let’s get in touch</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="find-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Location on Maps</h2>
          </div>
        </div>
        <div class="col-md-8">

          <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6023.3771156926205!2d74.9122805744028!3d24.394658676677324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396676f130ad7601%3A0x767471a98ab0e3fa!2zMjTCsDIzJzM0LjUiTiA3NMKwNTQnNTEuNiJF!5e0!3m2!1sen!2sin!4v1622469003472!5m2!1sen!2sin" width="100%" height="330px" frameborder="0" style="border:0" allowfullscreen ></iframe>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="left-content">
            <h4>About our office</h4>
            <p>Recent & Decent offers a variety of solutions for both buyers and sellers that physical stores just simply can’t.First and foremost, e-commerce offers a buying experience that is unrivaled by traditional brick and mortar shopping.</p>
            <ul class="social-icons">
              <li><a href="https://github.com/jayyuuuu"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/captain.jacksparr0ww/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/A_saffronist"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/jaydeep-kumar-silawat-674b18197/"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/jayyuuuu"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="send-message">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Send us a Message</h2>
            <h6>(✌ Also You are free to write a review here. ↡ )</h6>
          </div>
        </div>
        <div class="col-md-8">
          <div class="contact-form">
            <form id="my-form" action="https://formspree.io/f/xlearopz" method="post">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" placeholder="E-Mail Address" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="my-form-button" class="filled-button">Send Message</button>
                 </fieldset>
                 <p id="my-form-status"></p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="accordion">
            <li>
                <a>R&D- One Stop shop</a>
                <div class="content">
                    <p>We’ve come to associate online shopping with convenience. With R&D, we have millions of choices. We have access to thousands of crowd-sourced reviews in order to verify a product actually works. We are able to find the best available price. And, maybe most importantly, we can shop from wherever. The sheer ease and convenience of online shopping is no better exemplified than in “Cyber Monday,” a day dedicated to lower-than-normal deals on the best products the internet has to offer.</p>
                </div>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
  </div>

 

  <script>
    var form = document.getElementById("my-form");
    
    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
            'Accept': 'application/json'
        }
      }).then(response => {
        status.innerHTML = "Thanks for your submission!";
        form.reset()
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>

<%- include("../partials/footer") %>